.background {
	width: 100wh;
	height: 100vh;
	color: #fff;
	background: -webkit-linear-gradient(135deg, #202020, #393c6d, #17183b);
	background: -o-linear-gradient(135deg, #202020, #393c6d, #17183b);
	background: linear-gradient(-45deg, #202020, #393c6d, #17183b);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.loaderMain {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo {
	box-sizing: border-box;
	padding:0;
	margin:0;
	color: #ffffff;
    text-shadow: 0 0 10px rgb(59, 59, 59);
    font-family: 'Sofia', cursive;
    font-size: 100px;
    text-align: center;
	position: relative;
	margin-left: 480px;
	margin-right: 480px;
	margin-top: 30px;
	margin-bottom: 10px;
    top: 20%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	-o-transition: font-size 300ms ease;
	transition: font-size 300ms ease;
	-webkit-transition: font-size 300ms ease;
	-moz-transition: font-size 300ms ease;
}

#logo:hover {
	font-size: 120px
}

#salt {
	opacity: 0;
	color: rgb(240, 184, 195);
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
	position: relative;
	top: 45%;
	-webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

#kid {
	display: block;
	margin : auto;
	position: relative;
	top: 24%;
    width: 13%;
	height: auto;
	-webkit-animation-duration: 3.5s;
	        animation-duration: 3.5s;
}