.background {
	width: 100wh;
	height: 100vh;
	color: #fff;
	position: relative;
	background: -webkit-linear-gradient(135deg, #202020, #393c6d, #17183b);
	background: -o-linear-gradient(135deg, #202020, #393c6d, #17183b);
	background: linear-gradient(-45deg, #202020, #393c6d, #17183b);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.loaderMain {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo {
	color: #ffffff;
	top: 22%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    text-shadow: 0 0 10px rgb(59, 59, 59);
    font-family: 'Sofia', cursive;
    font-size: 110px;
    text-align: center;
	position: absolute;
	-o-transition: font-size 300ms ease;
	transition: font-size 300ms ease;
	-webkit-transition: font-size 300ms ease;
	-moz-transition: font-size 300ms ease;
}

#logo:hover {
	font-size: 130px
}

#salt {
	opacity: 0;
    top: 42%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
	color: rgb(240, 184, 195);
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
	position: absolute;
	-webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

#kid {
	display: block;
	margin : auto;
	top: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
	position: absolute;
    width: 177.567px;
	height: 177.567px;
	-webkit-animation-duration: 3.5s;
	        animation-duration: 3.5s;
}
#f {
	  top: 51%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.lds-facebook {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
  }
  .lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 6px;
	width: 13px;
	background: #fff;
	-webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
	        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
	left: 6px;
	-webkit-animation-delay: -0.24s;
	        animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
	left: 26px;
	-webkit-animation-delay: -0.12s;
	        animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
	left: 45px;
	-webkit-animation-delay: 0;
	        animation-delay: 0;
  }
  @-webkit-keyframes lds-facebook {
	0% {
	  top: 6px;
	  height: 51px;
	}
	50%, 100% {
	  top: 19px;
	  height: 26px;
	}
  }
  @keyframes lds-facebook {
	0% {
	  top: 6px;
	  height: 51px;
	}
	50%, 100% {
	  top: 19px;
	  height: 26px;
	}
  }
  