.background {
	width: 100wh;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #202020, #393c6d, #17183b);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.loaderMain {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo {
	color: #ffffff;
    text-shadow: 0 0 10px rgb(59, 59, 59);
    font-family: 'Sofia', cursive;
    font-size: 100px;
    text-align: center;
	position: relative;
	margin-left: 480px;
	margin-right: 480px;
	margin-top: 30px;
	margin-bottom: 10px;
    top: 20%;
	transform: translateY(-50%);
	transition: font-size 300ms ease;
	-webkit-transition: font-size 300ms ease;
	-moz-transition: font-size 300ms ease;
}

#logo:hover {
	font-size: 120px
}

#salt {
	color: rgb(240, 184, 195);
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
	position: relative;
	top: 45%;
}